body{
   
     font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
   
}

.TravelForm{

            background: rgb(192, 208, 225);
            padding: 30px;
            height: 530px;
            width: 300px;
            border-radius: 10px;
            box-shadow: 0 0  10px rgba(186, 187, 187, 0.89);
            text-align: left;
}

input{
    
    width: 95%;
    padding: 8px;
    margin: 12px 0;
   
  
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #020000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
   
            background-color: rgb(0, 4, 255);
           
}